* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:hover {
  filter: opacity(0.75);
}

.container {
  max-width: 1120px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin: 0 auto;
}

header {
  padding: 1.5rem 1.5rem 2rem;
  background-color: blueviolet;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
}

header button {
  padding: 0.75rem;

  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;

  color: #fff;
  background-color: cornflowerblue;
  border: none;
}

header footer {
  padding: 0.65rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgb(102, 41, 158);
}

#form-section {
  padding: 3rem 1rem;
  background-color: gainsboro;

  display: none;
}

#form-section h2 {
  font-size: 2rem;
}

#form-section .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  width: 500px;

  display: grid;
  grid-template-columns: 50% 25% 25%;
  gap: 0.5rem;
}

form input,
form button {
  font-size: 1.06rem;
  padding: 0.5rem 0.25rem;
}

form button {
  color: #fff;
  font-weight: 700;
  border: none;
}

form button[type="submit"] {
  background-color: cornflowerblue;
}

form button[type="reset"] {
  background-color: firebrick;
}

#images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  list-style: none;
}

#images-list li {
  position: relative;
  max-height: 380px;
  overflow-y: hidden;
}

#images-list img {
  width: 100%;
}

#images-list div {
  padding: 2rem 1rem;

  background-color: rgb(0, 0, 0, 0.7);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;

  transition: all ease 0.5s;
}

#images-list a {
  font-size: 1.125rem;
  cursor: pointer;
  color: #fff;
}

#images-list li:hover .link-div {
  opacity: 1;
}
